

@{
    Layout = "_Layout";
}

<h3>This is our graduation project that we did: Boredtopia</h3>
<p>This project was done together with 4 other awesome people in my class<br/>
    Annerle Viloan<br/>
    Yuria Tateishi<br/>
    Rasmus Nilsson<br/>
    Emilia Engberg</p>
<p><a href="placeholder" alt="Boredtopia">Boredtopia</a></p>

<p>Placeholder Pictures x2</p>