
@section Menu{
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Home" asp-action="BoredTopia">Boredtopia</a></li>
    </ul>
}

<h3>This will list the project that has been done during my study</h3>
<p>Our graduation project at Brights <a asp-controller="Home" asp-action="BoredTopia">Boredtopia</a></p>