@model WanderingLegends.Views.WanderingLegends.GameStartVM

@{
    Layout = "_LayoutGame";
}
@section MenuStats
{
    <partial name="_HeroStats"/>
}

<p>Welcome to the world of Arnajak! </p>
<p>Our new hero that will explore this lands are @Model.hero.Name</p>


@section Movement
{
    <partial name="_Movement" />
}

