

@{
    Layout = "_LayoutGame";
}

@section MenuStats
{
    <ul>
    <li><a asp-controller="WanderingLegends" asp-action="GameStart">Start a new game</a></li>
    <li> Load game </li>
    <li> Monsters handbook </li>
    <li> Hero handbook </li>
    </ul>
}

