
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
<h1>Wandering Legends</h1>
@RenderBody()

</body>
</html>